@tailwind base;
@tailwind components;
@tailwind utilities;

.underline {
    position: relative;
}



nav ul {
    display: flex;
}

@media screen and (max-width: 400px) {
    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 80%;
        text-align: center;
        margin-right: 20%;
        padding: 4px;


    }

    .started {
        display: none;
    }

    .Moon {
        display: none;
    }

    .Bar {
        display: flex;
    }

    .UpdatedStory {
        display: none;
    }

    .story {
        width: 100%;
    }

    nav ul {
        display: none;

    }

    nav ul.open {
        display: flex;
    }
    .None.open {
        display: flex;
    }

    nav ul li a {
        transition: all .2s ease;
    }
    .None{
        display: none;
    }

}

@media screen and (max-width: 1021px) {

    nav ul {
        display: flex;
        flex-direction: column;
        margin-top: 80%;
        width: 90%;
        padding: 4px;

    }

    nav ul {
        display: none;

    }

    .started {
        display: none;
    }

    nav {
        margin-left: 15%;
    }

    .Moon {
        display: none;
    }

    .Bar {
        display: flex;
    }

    .UpdatedStory {
        display: none;
    }

    .story {
        width: 100%;
    }

    nav ul.open{
        display: flex;
    } 
    .None.open{
        display: flex;
    } 
   

    nav ul li a {
        transition: all .2s ease;
    }
    .None{
        display: none;
    }
}

.Dark {
    background-color: #03070c;
    color: white;
}