@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.underline {
    position: relative;
}

nav ul {
    display: flex;
}


@media screen and (max-width: 400px) {
    nav ul {
        margin-top: 80%;
        text-align: center;
        margin-right: 20%;
        transform: translateX(-20px);
    }

    nav {
        margin-right: 25%;
    }

    nav ul a {
        margin-right: 35%;
        font-size: 60%;
    }

    .started {
        display: none;
    }

    .Moon {
        display: none;
    }

    .Bar {
        display: flex;
    }

    .UpdatedStory {
        display: none;
    }

    .story {
        width: 100%;
    }

    nav ul {
        display: none;

    }

    nav ul.open {
        display: flex;
        height: 100%;
    }
}

@media screen and (max-width: 1021px) {
    nav ul {
        margin-top: 20%;
        text-align: center;
        transform: translateX(-20px);
    }

    nav ul {
        display: none;
    }

    nav ul a {
        margin-right: 35%;
    }

    .started {
        display: none;
    }

    nav {
        margin-right: 20%;
    }
    .Moon {
        display: none;
    }
    .Bar {
        display: flex;
    }
    .UpdatedStory {
        display: none;
    }
    .story {
        width: 100%;
    }
    nav ul.open {
        display: flex;
    }
}

.Dark {
    background-color: #03070c;
    color: white;
}
.Dark .Nav{
    background: #03070c;
}
.Dark .Header{
    background: #03070c;
}
.Dark .Table{
    color: white;
}
.Dark .Input{
    background: #03070c;
    border: 1px solid gray;
}
